.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
dconf
discord
evolution
gnome-initial-setup-done
google-chrome
gtk-3.0
ibus
mimeapps.list
monitors.xml
pulse
tiling-assistant
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
nvim/plugin/packer_compiled.lua
